/* print.css */

.content,
.title {
	margin: 0;
	width: auto;
}
a:hover, a:active, a:link, a:visited { color: #000; }
.comment .title {
	padding: 0;
	margin: 0;
}

#toolbar,
#top-elements,
#mmenu_bg, #smenu_bg
#menuband,
#menu,
#submenu,
#menu2,
#header .block,
.breadcrumb,
.region-highlighted,
.region-sidebar-first,
.region-sidebar-second,
#section1,
#section2,
#footer,
.book-navigation,
.print-links,
.user-picture,
.field-name-field-tags,
.terms,
.tabs,
.feed-icon,
.links,
.messages,
.by { display: none !important; }