/*Pure.CSS-RTL */
html, body {direction: rtl;}
th {text-align: right;}

ul.links li {
	border-left: none !important;
	border-right: 1px solid #d3d3d3;
}
.content ul.pure-menu-list {
	padding: 0 1em 0 0;
}
.comment .new {
	float: left;
}
.by {
	text-align: left;
}
.node .user-picture, .comment .user-picture {
	float: left;
	padding: 0 .5em .5em 0;
}
blockquote {
	border: 0
	border-right: 4px solid #ddd;
}
.logoimg, .logomob {
	float: right;
}
.logomob {
	margin: -1em 0 0 .5em;
}
#top-elements {
	float: left;
	text-align: left;
}
.field-item .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}
.page-admin-appearance-settings .fieldset-wrapper {
	margin: 0 1em 0 0;
}
html.js fieldset.collapsible .fieldset-legend {
	padding-right: 1.7em;
}


/* MENU & link STYLES */

#submenu a {
	text-align: right;
}
.pure-menu-heading {
	padding: 1em 1em 0 1em;
	float: right;
}
.menu-toggle {
	float: left;
}
.menu-toggle .bars {
	right: .5em;
}
.pure-menu-link {
	text-align: right;
}
.pure-menu-children .pure-menu-children {
	left: auto;
	right: 100%;
	box-shadow: -1px 5px 5px #999;
}
.pure-menu-has-children > .pure-menu-link:after {
	margin: 0 0 0 -1em !important;
	padding-left: 0;
	padding-right: .5em;
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25C2";
}


/* ROUNDED CORNERS */
.pure-paginator .first .pure-button {
	border-radius: 0px 6px 6px 0px;
}
.pure-paginator .last .pure-button {
	border-radius: 6px 0px 0px 6px;
}


/* NICE CSS */
.divider {
	border-left: none;
	border-right: 1px dashed #ddd;
}


@media screen and (max-width: 48em) {
	.ml #submenu,	.mc #submenu {
		text-align: right;
	}
	.logomob {
		margin: -.5em 0 0 .5em;
	}
	.pure-menu-allow-hover:hover > .pure-menu-children {
		right: 0;
		padding: 0 1em 0 0;
	}
	.pure-menu-heading {
		padding: .5em 1em 0 0;
	}
}
