/* style.css, v1.02 2017/12/04
 *
 * Pure.THEME responsive sub-theme for Drupal 7
 * Dr. Florian Radut, florian@radut.net
 */

body {
	margin: 0;
	padding: 0;
	color: #535353;
}
body.fs {font-size: .9em;}

/* MARKUP FREE CLEARING */
.clearfix {
	min-height: 0;
}

/* MAIN LAYOUT */

.sizer0 {
	margin: 0 auto;
}
body.admin.amt {
	margin-top: 2.5em;
	padding-top: 2.5em;
}

h1 {
	font-size: 1.6em;
	margin: .5em 0;
}
h1, h2, h3 {font-weight: normal;}
h4, h5, h6 {font-size: 1em;}
h1, h2, h3, h4, h5, h6 {color: #333;}
.block-title {
	margin: 0;
	padding: .3em 0;
	text-align: center;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #428BCA;
}
a:hover, a:focus {
	text-decoration: underline;
	color: #2A6496;
}
table {
	width: 100%;
}
th, td {
	padding: .3em;
}
.links {
	margin: 0;
	clear: both;
	color: #3f3f3f;
}
ul.links {
	padding: 0;
}
.content ul.pure-menu-list {
	padding: 0 0 0 1em; /* LTR */
}
.content ul.links {
	margin: 0 -.3em;
}
ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 4px;
	border-left: 1px solid #d3d3d3; /* LTR */
}
ul.links li.first, ul.links li.taxonomy-term-reference-0 {
	border: none;
}
ul.primary {
	white-space: normal;
}
.error {
	border-color: red;
}
.block, .space {
	margin: 1.2em .6em 0;
	padding: .6em;
}
.node {
	margin: .5em 0 2em 0;
}
.node.teaser, .theme-selector {
	padding-bottom: .3em;
	border-bottom: 1px dashed #ddd;
}
.node .content {
	margin: .5em 0;
}
.submitted {
	font-size: .8em;
}
.comment {
	padding: .5em;
	margin-bottom: 1em;
	border: 1px solid #d3d3d3;
}
.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: .8em;
	float: right; /* LTR */
	color: red;
}
.node .user-picture, .comment .user-picture {
	float: right; /* LTR */
	padding: 0 0 .5em .5em; /* LTR */
}
blockquote {
	padding: 0 .5em;
	border-left: 4px solid #ddd; /* LTR */
	font-style: italic;
}
div.messages {
	margin: .6em;
}
.logoimg, .logomob {
	float: left; /* LTR */
}
.logoimg {
	padding: 1em;
}
.logomob {
	margin: -1em .5em 0 0; /* LTR */
	height: 3.25em;
}
#name-and-slogan {
	padding: 2em 1.2em 0 1.2em;
}
#site-name {
	margin: 0;
	padding: 0;
}
p#site-name a, p#site-name a:hover,
h1#site-name a, h1#site-name a:hover {
	text-decoration: none;
	line-height: normal;
}
p#site-name a, p#site-name a:hover {
	font-size: 2.1em;
}
h1#site-name a, h1#site-name a:hover {
	font-size: 1.31em;
}
#top-elements {
	float: right; /* LTR */
	text-align: right; /* LTR */
	margin: 1em;
}
.breadcrumb {
	padding: 0 1.4em;
	font-size: .85em;
	clear: both;
}
ul.breadcrumb {
	margin: 0;
}
ul.breadcrumb li {
	display: inline;
}
.region-highlighted {
	margin: 1.2em .6em 0;
	border: solid 1px #ddd;
	background: #eee;
}
.region-highlighted .block {
	margin: 0 .5em;
}
#main h2.title a {
	color: #333;
}
#main h1.title {
	padding: .4em .8em;
}
#main .block {
	padding: 0 .6em .6em;
}
#section2 {
	margin: 0 0 1em;
}
#header .block, #footer .block {
	margin: 0;
	padding: 0;
}
#footer {
	text-align: center;
	font-size: .85em;
	margin: 0 .6em;
}
#footer, #footer a {
	color: #888 !important;
}
#footer a:hover, #footer a.active {
	color: #333 !important;
	text-decoration: none;
}
#top_bg, #body_bg {
	border-bottom: solid 1px #ddd;
}
.by {
	text-align: right; /* LTR */
	font-size: .75em;
	margin: 0 .3em -1.3em .3em;
}
.by a:hover {
	text-decoration: none;
}
.by, .by a, .by a:hover {
	color: #ddd !important;
}
.byy {
	display: none;
}
.in-maintenance #main {
	width: 85%;
	margin: 50px auto;
}
.book-navigation .pure-menu-list {
	clear: both;
	margin: .6em;
}
.book-navigation .page-links {
	border-top: 1px dashed #d3d3d3;
	border-bottom: 1px dashed #d3d3d3;
}
.feed-icon .pure-img {
	margin: 0 .6em;
}
.field-item .pure-img {
	float: left; /* LTR */
	margin: .6em .6em .6em 0; /* LTR */
}
.page-admin-appearance-settings .fieldset-wrapper {
	margin: 0 0 0 1em; /* LTR */
}


/* PAGER */

.item-list .pager li {
	padding: 0;
	margin: 0 -.15em;
}
.pure-paginator li a {
	margin: 0;
}
.pure-paginator .pure-button {
	border-radius: 0;
	border: 0;
}
.pure-paginator a {
	text-decoration: none;
}
.block .content ul.pager {
	padding: 10px 0 0 0;
}
a.pure-button-selected:hover {
	color: #aaa;
}


/* PURE FORMS */

.pure-button {
	border: 1px solid #ccc;
}
#edit-preview.pure-button {
	background-color: #D3EDA3;
}
#edit-delete.pure-button {
	background-color: #F5AB9E;
}

.pure-button, .form-item {
	margin: .2em;
}
.pure-form select {
	padding: .4em .7em;
}
#header .form-text, #header .pure-button {
	display: inline-block;
}
.pure-form input, .pure-form select {
	max-width: 100%;
}


/* MENU & link STYLES */

.ml .pure-menu-horizontal, .ml #submenu {
	text-align: left;
}
.mc .pure-menu-horizontal, .mc #submenu, #menu2 {
	text-align: center;
}
.mr .pure-menu-horizontal, .mr #submenu {
	text-align: right;
}

#mmenu_bg {
	background: #ddd; 
	border-top: 1px solid #ccc;
}
#smenu_bg {
	background: #eee;
	border-bottom: 1px solid #ccc;
}

#submenu {
	padding: 0;
}
#submenu a {
	display: inline-block;
	padding: .35em 1em;
	text-transform: uppercase;
	text-align: left; /* LTR */
	color: #777;
}

#submenu li {
	border: none;
	padding: 0;
}

#submenu li a:hover, #submenu li a:focus {
	background: #ddd;
	color: #000;
}
#submenu li a.active {
	color: #000;
}
#menu2 a {
	color: #888 !important;
}
#menu2 a:hover, #menu2 a.active {
	color: #333 !important;
}
#submenu li a:hover, #menu2 a:hover {
	text-decoration: none;
}


/* DROPDOWN */

.fs .menuband {font-size: 1.11em;}
.menu-wrapper {
	-webkit-font-smoothing: antialiased;
	position: relative;
	z-index: 90;
}
.pure-menu-heading {
	padding: 1em 1em 0; /* LTR */
	float: left; /* LTR */
	font-weight: bold;
	text-decoration: none !important;
	white-space: normal;
	display: none;
}
.pure-menu-heading:hover, .pure-menu-heading:focus {
	color: #000;
}
.menu-toggle {
	width: 2.3em;
	height: 2.3em;
	float: right; /* LTR */
	display: none;
	background: #bbb;
}
.menu-toggle .bars {
	display: block;
	width: 1.25em;
	height: .13em;
	border-radius: 6em;
	position: relative;
	top: 1.2em;
	left: .5em; /* LTR */
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	background: #777;
}
.menu-toggle .bars:first-child {
	top: 1.3em;
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}
.menu-toggle.x .bars {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-toggle.x .bars:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.open .menu-transform {
	clear: both;
}
.pure-menu-horizontal {
	white-space: normal;
}
.pure-menu-list li { /* IE7 */
	list-style: none;
}
.pure-menu-link, .pure-menu-disabled {
	padding: 1em;
}
.pure-menu-link {
	text-decoration: none !important;
	text-transform: uppercase;
	text-align: left; /* LTR */
	color: #777;
}
.pure-menu-link:hover, .pure-menu-link:focus {
	background: #eee;
	color: #000;
}
.pure-menu-children {
	box-shadow: 5px 5px 5px #000; /* LTR */
}
.pure-menu-children .pure-menu-link {
	margin: 0;
	padding: .35em 1em;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.pure-menu-children .pure-menu-children {
	left: 100%; /* LTR */
	top: 0;
}

/* Dropdown delay */
.pure-menu-children {
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.pure-menu-item:hover > .pure-menu-children {
	opacity: 1;
	visibility: visible;
}

/* Dropdown arrows */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
	content: "\25BE";
	margin: 0 -.6em 0 0; /* LTR */
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25B8";
}


/* Social links */
#soclinks {
	padding: 12px 0 0;
}
#soclinks a, #soclinks a:hover, #soclinks a:focus {
	color: transparent !important;
}
#soclinks .sociallinks {
	background: url(../../../_custom/images/_sprites_soc.png) no-repeat 0 99px;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
}
#soclinks .facebook { background-position: 0 0; }
#soclinks .flickr { background-position: 0 -32px; }
#soclinks .googleplus { background-position: 0 -64px; }
#soclinks .instagram { background-position: 0 -96px; }
#soclinks .linkedin { background-position: 0 -128px; }
#soclinks .pinterest { background-position: 0 -160px; }
#soclinks .skype { background-position: 0 -192px; }
#soclinks .tumblr { background-position: 0 -224px; }
#soclinks .twitter { background-position: 0 -256px; }
#soclinks .vimeo { background-position: 0 -288px; }
#soclinks .youtube { background-position: 0 -320px; }


/* ROUNDED CORNERS */

.rnd .region-header .content,
.rnd .block-title,
.rnd div.messages,
.rnd .form-actions .pure-button,
.rnd .block,
.rnd .region-highlighted,
.rnd .comment,
.rnd .user-picture img,
.rnd blockquote {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rnd .tabs a {
	border-radius: 5px 5px 0 0;
}
.rnd .pure-paginator .first .pure-button {
	border-radius: 6px 0px 0px 6px; /* LTR */
}
.rnd .pure-paginator .last .pure-button {
	border-radius: 0px 6px 6px 0px; /* LTR */
}


/* PAGE ICONS */

.book_printer img, .book_mail img, .book_pdf img {
	display: none;
}
.pi .book_printer, .pi .book_mail, .pi .book_pdf {
	margin: 0 0 0 5px; /* LTR */
	padding: 0 0 0 24px; /* LTR */
}
.pi .book_printer {
	background: url(../../../_custom/images/icons/printer.png) no-repeat 4px center; /* LTR */
}
.pi .book_mail {
	background: url(../../../_custom/images/icons/email.png) no-repeat 4px center; /* LTR */
}
.pi .book_pdf {
	background: url(../../../_custom/images/icons/pdf.png) no-repeat 4px center; /* LTR */
}
.pi .field-type-taxonomy-term-reference {
	background: url(../../../_custom/images/icons/tag.png) no-repeat left top; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .region-sidebar-first a.active, .pi .region-sidebar-second a.active {
	background: url(../../../_custom/images/icons/check.png) no-repeat right center; /* LTR */
	padding-right: 20px; /* LTR */
}
.pi li.comment-approve a {
	background: url(../../../_custom/images/icons/check.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .comment-add a {
	background: url(../../../_custom/images/icons/comment.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .comment-comments a {
	background: url(../../../_custom/images/icons/comments.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-delete a {
	background: url(../../../_custom/images/icons/trash.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-edit a {
	background: url(../../../_custom/images/icons/edit.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi li.comment-reply a {
	background: url(../../../_custom/images/icons/reply.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .book_add_child a {
	background: url(../../../_custom/images/icons/page-add.png) no-repeat left center; /* LTR */
	padding: 0 0 0 20px; /* LTR */
}
.pi .node-readmore a {
	background: url(../../../_custom/images/icons/read_more.png) no-repeat left center; /* LTR */
	padding: 0 0 0 17px; /* LTR */
}
.pi .more-link a {
	background: url(../../../_custom/images/icons/more.png) no-repeat left -1px; /* LTR */
	padding: 0 0 0 20px; /* LTR */
	font-size: .8em;
}
.pi li.uin, .pi li.uout, .pi li.ulog, .pi li.ureg {
	border: none;
	margin: 0 5px;
}
.pi .blog_usernames_blog a,
.pi #block-system-user-menu li.first, .pi li.uin {
	background: url(../../../_custom/images/icons/user_green.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi #block-system-user-menu li.last, .pi li.uout {
	background: url(../../../_custom/images/icons/key_delete.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi li.ulog, .pi li.comment_forbidden a {
	background: url(../../../_custom/images/icons/key_add.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}
.pi li.ureg {
	background: url(../../../_custom/images/icons/user-multiple.png) no-repeat left center; /* LTR */
	padding: 0 4px 0 20px; /* LTR */
}


/* THEME's SPECIFIC CSS */

a {
	color: #a57700;
}
a:hover, a:focus {
	color: #745400;
}
#headerimg {
	width: 100%;
	height: auto;
	margin-bottom: .5em;
}
#header {
	min-height: 6.5em;
	text-shadow: 1px 2px 1px #000;
	text-align: center;
}
.front #header {
	min-height: 14.4em;
}
.front.fs #header {
	min-height: 16em;
}
#headerimg, #headerimg a,
#section1 .block-title, #section2 .block-title {
	color: #fff;
}
#headerimg a:hover, #headerimg a:focus {
	color: #ddd;
}
#headerimg input {
	color: #333;
}
.region-header .content {
	background: rgb(85, 85, 85);
	background: rgba(85, 85, 85, .5);
	padding: .6em;
}
.region-header a {
	font-weight: bold;
}
.region-sidebar-first .block,
.region-sidebar-second .block,
#section1 .block, #section2 .block {
	border: 1px solid #eee;
}
.block-title {background: #eee;}
.u1 .block-title {background: #d19700;}
.u2 .block-title {background: #519251;}
.u3 .block-title {background: #005a84;}
.u4 .block-title {background: #444;}

.pure-paginator a.pure-button-selected {
	background-color: #555;
}
img:hover	{
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#forum td.topics, #forum td.last-reply {
	background-color: #ddd;
}
#forum td.container {
	background: #cdcdcd url(../../../_custom/images/forum-container.jpg) no-repeat right center; /* LTR */
}
#forum td.container .name a {
	background: transparent url(../../../_custom/images/forum-link.png) no-repeat left center; /* LTR */
	padding: 10px 0 10px 40px; /* LTR */
	font-weight: bold;
}


/* MEDIA SCREEN */

@media screen and (max-width: 48em) {
	.mc #submenu,	.mr #submenu {
		text-align: left; /* LTR */
	}
	.block, .space {
		margin: .6em 0 0;
	}
	#main h1.title {
		padding: .4em;
	}
	.breadcrumb {
		padding: 0 .6em;
	}
	.nb1 #section1, .nb2 #section2, .nbl .region-sidebar-first, .nbr .region-sidebar-second,
	.pure-menu-horizontal, .logoimg, #name-and-slogan {
		display: none;
	}
	.menuband {
		min-height: 2.3em;
	}
	.logomob {
		margin: -.5em .5em 0 0; /* LTR */
		height: 2.3em;
	}
	.pure-menu-heading, .menu-toggle {
		display: block;
	}
	.pure-menu-heading {
		padding: .5em 0 0 1em; /* LTR */
	}
	.pure-menu-allow-hover:hover > .pure-menu-children {
		display: block;
		position: relative;
		left: 0; /* LTR */
		padding: 0 0 0 1em; /* LTR */
	}
	.pure-menu-has-children > .pure-menu-link:after, .pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
		content: "\25BE" !important;
	}
	.pure-menu-children {
		background: transparent;
		box-shadow: none !important;
	}
	.pure-menu-link {
		padding: .35em 1em;
		margin: 0;
		border-top: 1px solid #eee !important;
	}
/**/
	#headerimg {
		background-attachment: initial;
	}
	.front #header, .front.fs #header, #header {
		min-height: 6.5em;
	}
	.region-sidebar-first .block,
	.region-sidebar-second .block,
	#section1 .block, #section2 .block {
		border: none;
	}
}