/*Pure.THEME-RTL */
html, body {direction: rtl;}
th {text-align: right;}

ul.links li {
	border-left: none !important;
	border-right: 1px solid #d3d3d3;
}
.content ul.pure-menu-list {
	padding: 0 1em 0 0;
}
.comment .new {
	float: left;
}
.by {
	text-align: left;
}
.node .user-picture, .comment .user-picture {
	float: left;
	padding: 0 .5em .5em 0;
}
blockquote {
	border: 0
	border-right: 4px solid #ddd;
}
.logoimg, .logomob {
	float: right;
}
.logomob {
	margin: -1em 0 0 .5em;
}
#top-elements {
	float: left;
	text-align: left;
}
.field-item .pure-img {
	float: right;
	margin: .6em 0 .6em .6em;
}
.page-admin-appearance-settings .fieldset-wrapper {
	margin: 0 1em 0 0;
}
html.js fieldset.collapsible .fieldset-legend {
	padding-right: 1.7em;
}


/* MENU & link STYLES */

#submenu a {
	text-align: right;
}
.pure-menu-heading {
	padding: 1em 1em 0 1em;
	float: right;
}
.menu-toggle {
	float: left;
}
.menu-toggle .bars {
	right: .5em;
}
.pure-menu-link {
	text-align: right;
}
.pure-menu-children .pure-menu-children {
	left: auto;
	right: 100%;
	box-shadow: -1px 5px 5px #999;
}
.pure-menu-has-children > .pure-menu-link:after {
	margin: 0 0 0 -1em !important;
	padding-left: 0;
	padding-right: .5em;
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25C2";
}


/* ROUNDED CORNERS */
.rnd .pure-paginator .first .pure-button {
	border-radius: 0px 6px 6px 0px;
}
.rnd .pure-paginator .last .pure-button {
	border-radius: 6px 0px 0px 6px;
}


/* PAGE ICONS */

.pi .book_printer, .pi .book_mail, .pi .book_pdf {
	margin: 0 5px 0 0;
	padding: 0 25px 0 0;
}
.pi .book_printer {
	background: url(../../../_custom/images/icons/printer.png) no-repeat 97% center;
}
.pi .book_mail {
	background: url(../../../_custom/images/icons/email.png) no-repeat 97% center;
}
.pi .book_pdf {
	background: url(../../../_custom/images/icons/pdf.png) no-repeat 97% center;
}
.pi .field-type-taxonomy-term-reference {
	background: url(../../../_custom/images/icons/tag.png) no-repeat right top;
	padding: 0 20px 0 0;
}
.pi .region-sidebar-first a.active, .pi .region-sidebar-second a.active {
	background: url(../../../_custom/images/icons/check_rtl.png) no-repeat left center;
	padding-left: 20px !important;
	padding-right: 0;
}
.pi li.comment-approve a {
	background: url(../../../_custom/images/icons/check_rtl.png) no-repeat left center;
	padding: 0 20px 0 0;
}
.pi .comment-add a {
	background: url(../../../_custom/images/icons/comment.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .comment-comments a {
	background: url(../../../_custom/images/icons/comments.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-delete a {
	background: url(../../../_custom/images/icons/trash.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-edit a {
	background: url(../../../_custom/images/icons/edit.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi li.comment-reply a {
	background: url(../../../_custom/images/icons/reply.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .book_add_child a {
	background: url(../../../_custom/images/icons/page-add.png) no-repeat right center;
	padding: 0 20px 0 0;
}
.pi .node-readmore a {
	background: url(../../../_custom/images/icons/read_more_rtl.png) no-repeat right center; /* LTR */
	padding: 0 17px 0 0; /* LTR */
}
.pi .more-link a {
	background: url(../../../_custom/images/icons/more_rtl.png) no-repeat right -1px; /* LTR */
	padding: 0 20px 0 0;
}
.pi .blog_usernames_blog a,
.pi #block-system-user-menu li.first, .pi li.uin {
	background: url(../../../_custom/images/icons/user_green.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi #block-system-user-menu li.last, .pi li.uout {
	background: url(../../../_custom/images/icons/key_delete.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ulog, .pi li.comment_forbidden a {
	background: url(../../../_custom/images/icons/key_add.png) no-repeat right center;
	padding: 0 20px 0 4px;
}
.pi li.ureg {
	background: url(../../../_custom/images/icons/user-multiple.png) no-repeat right center;
	padding: 0 20px 0 4px;
}


/* THEME's SPECIFIC CSS */

#forum td.container {
	background: #cdcdcd url(../../../_custom/images/forum-container_rtl.jpg) no-repeat left center;
}
#forum td.container .name a {
	background: transparent url(../../../_custom/images/forum-link_rtl.png) no-repeat right center;
	padding: 10px 40px 10px 0;
}


@media screen and (max-width: 48em) {
	.ml #submenu,	.mc #submenu {
		text-align: right;
	}
	.logomob {
		margin: -.5em 0 0 .5em;
	}
	.pure-menu-allow-hover:hover > .pure-menu-children {
		right: 0;
		padding: 0 1em 0 0;
	}
	.pure-menu-heading {
		padding: .5em 1em 0 0;
	}
}
